/* ============ Variables ============ */
// Fonts
$title:'Playfair Display', serif;
$subtitle:'Libre Baskerville', serif;
$paragraph: 'Inter', sans-serif;
// Colors
$black: #393536;
html {
    scroll-behavior: smooth;
  }
  
/* ============ Cursor styling ============ */
.cursor{
    width: 2.5rem;
    height: 2.5rem;
    border: .07rem solid $black;
    opacity: .4;
    border-radius: 50%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
}
/* ============ Top section ============ */
.top-section{
    height: 150px;
}
/* ============ Menu styling ============ */
.nav{
    position: fixed;
    z-index: 1000;
    // height: 100vh;
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    .heading{
        text-align: center;
        margin-top: 2rem;
        i{
            color: $black;
            transition: transform .3s ease-in-out;
            backface-visibility: hidden;
	        transform: scale(1);
            &:hover{
                transform: scale(1.5);
            }
        }
        p{
            margin-top: 0;
            font-family: $paragraph;
            font-size: .7rem;
            color: $black;
        }
    }
    .menu-wrapper{
        position: absolute;
        right: 3rem;
        top: 2rem;
        text-align: right;
        .menu-icon{
            cursor: pointer;
            transition-duration: 200ms;
             transition-timing-function:ease-in-out;
             height: 1.3rem;
             width: 1.3rem;
             position: relative;
             right: 0;
             &.rotate{
                transform: rotate(45deg);
             }
            &:hover{
                transform: rotate(45deg);
            }
        }
        .menu{
            font-family: 'Inter', sans-serif;
            list-style: none;
            position: relative;
            top: 1rem;
            text-align: right;
            visibility: visible;
            opacity: 1;
            max-height: 500px;
            transition: visibility 0s, opacity 0.2s, max-height 0.6s linear;

            &.hide {
                visibility: hidden;
                opacity: 0;
                max-height: 0px;
                transition: max-height 0.3s, opacity 0.3s, visibility 0.3s linear;
              }
            li{
                a{
                    font-size: .8rem;
                    color: $black;
                    text-decoration: none;
                    position: relative;
                }
                a:hover {
                    color: $black;
                }
                a:hover:after {
                    width: 100%;
                }
                a:after {
                    content: "";
                    position: absolute;
                    height: .04rem;
                    background-color: $black;
                    opacity: .5;
                    width: 0;
                    left: 50%;
                    bottom: 0;
                    -webkit-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                    transform: translateX(-50%);
                    -webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
                    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
                }
            }
        }
    }
}

/* ============ General styling ============ */
.wrapper{
    width: 80vw;
    margin: auto;
    section{
        min-height: 90vh;
        .tag{
            font-family: $paragraph;
            font-size: .6rem;
            text-align: center;
        }
        &.portfolio-top {
            margin-top: 5rem;
        }
        h1{
            font-family: $title;
            font-style: italic;
            font-size: calc(5em + 3.3vw);
            padding: 1rem 0rem 1rem 4rem;
            max-width: 290px;
            line-height: calc(3rem + 3.3vw);
            font-weight: normal;
            margin-top: 2rem;
            margin-bottom: 2rem;
            letter-spacing: calc(-1rem + 1vw);
            color: $black;

            /* === Typing effect === */
            #demo {
                width: 380px;
                padding-right: 1rem;
                overflow: hidden; /* Ensures the content is not revealed until the animation */
                border-right: .011em solid rgba(57, 53, 54, .8); /* The typwriter cursor */
                animation: 
                blink-caret 1s step-end infinite;
                @keyframes blink-caret {
                 from, to { border-color: transparent }
                 50% { border-color:  rgba(57, 53, 54, .8); }
                }
           }
        }
        .section-header{
            text-align: center;
            font-family: $subtitle;
            h2, h3{
                letter-spacing: -.2rem;
                margin-top: 0rem;
                margin-bottom: 0rem;
                position: relative;
                span{
                    position:absolute; 
                    top:-200px;
                    &#portfolio {
                      position:absolute; 
                      top:-130px;
                    }
                }
            }
            h4 {
                letter-spacing: -.2rem;
                font-weight: normal;
                margin-top: 0rem;
                margin-bottom: 0rem;
            }
            .number{
                font-weight: bolder;
            }
        }
        p{
            font-family: $paragraph;
            text-align: center;
            font-size: .8rem;
            font-weight: 400;
            line-height: 1.3rem;
        }
        .contact-info{
            margin-top: 1rem;
            .contact-link{
                padding: .5rem;
                line-height: 0.5rem;
                p{
                    padding: 0;
                    margin: 0;
                    font-size: .8rem;
                    font-family: $subtitle;
                    // letter-spacing: -.1rem;
                }
                a{
                    color: $black;
                    font-size: .7rem;
                    margin: 0;
                    padding: 0;
                    font-family: $paragraph;
                }
                .icons{
                    a{
                        font-size: 1rem;
                        color: $black;
                        i{
                            transition: transform .3s ease-in-out;
                            backface-visibility: hidden;
                            transform: scale(1);
                            &:hover{
                                transform: scale(1.5);
                            }
                        }
                    }
                }
            }
            .contacto-img{
                max-width: 250px;
                margin: 1rem;
                transition: all 1s ease-in-out;
                backface-visibility: hidden;
                transform: rotate(0deg);
                // &:hover{
                //     transform: rotate(360deg);
                // }
            }
        }
        .illustration-link{
            p{
                font-size: .7rem;
                color: $black;
                a{
                    color: $black;
                    text-decoration: underline;
                    font-style: italic;
                }
            }
        }
    }
    .stack-icons{
        margin: 2rem 0 4rem 0;
        .icons{
            justify-content: center;
            i{
                cursor: pointer;
                font-size: 3rem;
                padding: 1rem;
                backface-visibility: hidden;
	            transform: scale(1);
                // transform:scale(.5);
                transition: transform .3s ease-in-out;
                &:hover{
                    transform: scale(1.5);
                }
            }
        }
    }
    .reversed{
        display: flex; flex-direction: row-reverse;
    }
}
/* ============ Side menu styling ============ */
#fp-nav{
    ul{
        opacity: .5;
        li{
            height: 50px;
            a{
                &.active{
                  span{
                    height: 7px;
                    width: 7px;
                    margin: -2px 0 0 -2px;

                  }
                }
                span{
                    background: $black;
                }
            }
        }
    }
}
/* ============ cols styling ============ */
.leftSide {
    vertical-align: middle;
    display: inline-block;
}

.rightSide {
    margin-top: 5rem;
}
/* ============ Portfolio/gallery styling ============ */
.portfolio{
    max-width: 800px;
    margin:  auto;
    margin-top: 2rem;
    .content {
        position: relative;
        margin: auto;
        overflow: hidden;
        .fadeIn-bottom{
            top: 80%;
        }
        &:hover {
            .content-overlay{
                opacity: 1;
            }
            .content-overlay{
                bottom: 0;
                // opacity: 1;
            }
        }
        .content-overlay {
            background: rgb(255, 255, 255);
            position: absolute;
            left: 0;
            height: 60px;
            bottom: -60px;
            right: 0;
            // opacity: 0;
            text-align: center;
            transition: all 0.3s ease-in-out;
            // border-top: .5px solid rgba(12, 12, 12, 0.5);
            a{
                font-size: 1rem;
                color: $black;
                text-decoration: none;
                i{
                    transition: transform .3s ease-in-out;
                    backface-visibility: hidden;
                    padding: 1rem .3rem;
                }
            }
          }   
          .content-image{
             width: 100%;
          } 
          .content-details {
            // position: absolute;
            text-align: center;
            padding-left: 1em;
            padding-right: 1em;
            // color: white;
            // width: 100%;
            // height: 50px;
            // top: 80%;
            // left: 50%;
            opacity: 0;
            transform: translate(-50%, -50%);
            transition: all 0.3s ease-in-out;
          }
      }
}